*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(34, 40, 49);

}

/* -------------------------------------------- */

header{
    background-color: rgb(57, 62, 70);
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    flex-wrap: wrap;

}
header .logo img{
    width: 90px;
}

header .titulo h1{
    color: rgb(0, 109, 9);
    font-family: 'Dancing Script', cursive;
    font-size: 44px;
    text-shadow: 2px 2px 4px black;

}
header .calls-header nav a{
    margin: 15px;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    text-decoration: none;

}
header .calls-header nav a:hover{

    color: rgba(0, 255, 149);
    text-shadow: 2px 2px 4px black;

}

/* -------------------------------------------- */

main .galeria .imagenes{
    display: flex;
    margin: 30px; 
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

main .galeria .imagenes img{
    margin: 15px;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border-style:ridge;
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 22px;
}

main .galeria .imagenes img:hover{
    border-color: greenyellow;
    border-width: 10px;
    box-shadow: 0px 0px 25px greenyellow;

}

/* -------------------------------------------- */

footer{
    background-color: rgb(34, 40, 49);
    margin-top: 30px;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 45px #f2f2f2;
    margin: 20px;
    border-radius: 22px;
    flex-wrap: wrap;

}

footer .logo{
    margin: 5px;
    
}

footer .logo h3{
    color: #f2f2f2;
    font-family: 'Dancing Script', cursive;
    font-size: 17px;

}

footer .logo p{
    color: #f2f2f2;

}

footer .informacion{
    color: #f2f2f2;
    margin: 5px;
    display: flex;
    flex-direction: column;

}
footer .informacion .botones{
    display: flex;
    flex-direction: column;
}

footer .informacion p{
    font-size: larger;

}

.informacion .boton-fin{
    color: white;
    border-radius: 10px;
    margin: 1px;
    text-decoration: none;

}
.informacion .boton-fin:hover{
    text-decoration: none;
    color: greenyellow;

}
footer .datos-admin{
    color: #f2f2f2;

}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

@media (max-width: 404px){

    header .titulo h1{
        font-size: 35px;

    }

}

@media (max-width: 627px){
    footer .informacion{
        text-align: center;
    }
    footer .informacion .botones{
        display: flex;
        flex-direction: row;
    }

}